.mui-poppicker {
	position: fixed;
	width: 100%;
	z-index: 999;
	background: #ffffff;
	-webkit-transform: translateY(800px);
	-webkit-transition: .6s;
	bottom: 0;
}
.mui-poppicker.mui-active {
	-webkit-transform: translateY(0px);
}
.mui-android-5-1 .mui-poppicker {
	bottom: -400px;
	-webkit-transition-property: bottom;
	-webkit-transform: none;
}
.mui-android-5-1 .mui-poppicker.mui-active {
	bottom: 0px;
	-webkit-transition-property: bottom;
	-webkit-transform: none;
}
.mui-poppicker-header {
	font-size: 14px;
	color: #888;
}
.mui-poppicker-header2 {
	padding: 10px;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	background: #b81b36;
}
.mui-poppicker-header .mui-btn {
	font-size: 16px;
	padding: 12px 12px;
	width: 38%;
}
.mui-poppicker-btn-cancel {
	float: left;
	text-align: right;
	background: none!important;
	border: none!important;
	color: #000000!important;
}
.mui-poppicker-btn-ok {
	width: 100%!important;
	text-align: center;
	color: #ffffff!important;
	background: #dfbe7a!important;
	border: none!important;
	border-radius: 0!important;
}
.mui-poppicker-clear {
	clear: both;
	height: 0px;
	line-height: 0px;
	font-size: 0px;
	overflow: hidden;
}
.mui-poppicker-body {
	position: relative;
	width: 100%;
	height: 150px;
	border-top: solid 1px #ddd;
	/*-webkit-perspective: 1200px;
	perspective: 1200px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;*/
}
.mui-poppicker-body .mui-picker {
	width: 100%;
	height: 100%;
	margin: 0px;
	border: none;
	float: left;
}